body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    color: #494ca2;
}

:root {
    --primary: #14152e;
    --background: #afb6c0;
    --subbackground: #f3f9fb;
    --neutral: #ececec;
    --highlight: orange;
    --secondary: #494ca2;
    --inputfocus: #dadddf;
    --buttonfocus: #fdfdfd;
}


#overlay {
    position: absolute; 
    width: 100%; 
    height: 100vh;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
linear-gradient(to bottom, rgba(26, 22, 25, 0.73), rgba(48, 20, 41, 0.73)),
url('../files/images/cover.jpg');
    background-size: cover;
    background-attachment: fixed;
    z-index: -1; 
  }

  #home-navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary);
    padding: 10px 0;
    overflow: hidden;
}

.right {
    float: right;

}

.navbutton a {
    color: var(--background);
}

.navbutton a:hover{
    color: #585974;
}

.nav-brand a {
    font-family: 'Gugi', cursive;
    font-size: 20px;
    color: #fff;
}

span {
    color: var(--highlight);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 20px;
    color: var(--background);
    display: inline;
    text-align: center;
    margin: 5px;
}

nav ul .nav-items a {
    text-decoration: none;
    outline: none;
    color: var(--neutral);
}

a {
    text-decoration: none;
}

.signin-view{
    width: 100%;
    padding-top: 12%;
}

.signin-form-container{
    width: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: #eeeeee;
    padding-top: 10px;
}


form .input-div input{
    width: 80%;
    height: 40px;
    color: #494ca2;
    outline: none;
    margin: 5px auto;
    padding: 5px;
    text-align: left !important;
}

input:focus{
    border: 1px solid #494ca2;
}

form{
    margin: auto;
    padding: 5px;
    text-align: center;
}

h1{
    text-align: center;
    padding: 10px;
}

.login-button{
    width: 83%;
    outline: none;
    border: none;
    height: 60px;
    background-color: #494ca2;
    color: #e3e7f1;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
}

.login-button:hover{
    background-color: #252750;
}

.create-account-link{
    text-align: center;
    margin: auto;
    font-size: 18px;
    color: #7f7c8d;
    text-decoration: none;
}

 a{
    text-decoration: none;
    outline: none;
    color: #585974;
    text-decoration: none;
}

a:hover{
    color: #252750;
}

p #admin-login-link{
    padding: 10px;
}

.footer{
    text-align: center;
    color: #e3e7f1;
    margin-bottom: 5px;
}

/** Media queries for responsiveness **/
@media screen and (max-width: 400px) {
    .signin-form-container {
      max-width: 300px;
      margin: auto;
      margin-top: 20%;
      background: none;
      border: 1px solid #494ca2;
    }

    a{
        text-decoration: none;
        outline: none;
        color: #e3e7f1;
        text-decoration: none;
    }

    form .input-div input{
        width: 80%;
    }

    .login-button{
        width: 85%;
        padding: 5px;
    }
}

